//- template.pug
// template.pug..
doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="template.css" charset="utf-8")
  div.vid
    video.video(controls autoplay)
      source(src="http://localhost:8082/粉红小猪妹第四季_19_Georges_New_Dinosaur.mp4" type="video/mp4")
      //-source(src="video/1.mp4" type="video/mp4")
  div.contr